# Doxygen files
html/*
latex/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project outputs
SqlParser.tab.c
SqlParser.tab.h
bruinbase
bruinbase.dSYM/*
lex.sql.c
*.swp
newmovie.tbl
indexmovie.tbl
